@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

body {
    font-family: "Inter", sans-serif; 
    background: black;
    position: relative;
    max-width: 100%;
}

/* navbar style starts here */
.header-section {
    width: 100%;
    height: 715px;
    background: linear-gradient(to bottom,#141414, #222222, #060606);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.nav-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-container h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
.nav-options {
    display: flex;
    width: 465px;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
    margin: 0px 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 47px;
    cursor: pointer;
}
.btn-primary{
    width: 92px;
    height: 38px;
    border: none;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-family: inter;
    cursor: pointer;
}
.nav-options p {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
/* banner section style starts here */
.banner-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    position: relative;
}
.banner-text-content {
    margin-top: 0;
    margin-right: 225px;
}
.banner-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}
.shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 78px;
    font-style: italic;
    line-height: 0; 
}
.banner-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
    letter-spacing: 0.5px;
}
.banner-container button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.banner-btn-1 {
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    border: none;
}
.banner-btn-2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}
.banner-img {
    width: 349px;
    height: 580px;
    margin-right: 25px;
}

.Workout-videos {
    width: 193px;
    height: 98px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    left: 80.10%;
    top: 36%;
}
.Workout-videos h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 24px;
    letter-spacing: 1px;
}
.Workout-videos p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 24px;
    letter-spacing: 1px;
}

.video-tutorial {
    width: 206px;
    height: 96px;
    left: 57.5%;
    top: 77.8%;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    
}
.triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #FAFAF9;
    transform: rotate(150.00deg);
    margin: o auto;
    margin-top: 5px;
    margin-left: 5px;
}
.video-tutorial h1 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    margin: 0 auto;
    margin-left: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.video-tutorial p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-left: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.ham-burger {
    color: #ffffff;
    display: none;
}
/* habits section style starts here */
.habits-container {
    width: 76%;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.habits-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 0px;
}
.habits-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
}

.habits-items {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 06%;
    margin-top: 50px;
}
.habits-items img {
    border-radius: 50%;
    border: 5px solid #1a1a1a;
}
.habits-items h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 0px;
}
.habits-items p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
}
.item-movement {
    width: 20%;
}
.item-time {
    width: 20%;
}
.item-practice {
    width: 20%;
}
.item-wt-loss {
    width: 20%;
}
/* run section style starts here */
.run-container {
    width: 77%;
    height: 371px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 150px;
}
.run-text-content {
    width: 50%;
    margin-left: 3.375rem;
}
.run-text-content button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
.run-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 17px;
    margin-top: 0;
}
.run-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.run-img {
    width: 32%;
    height: 19.3rem;
    margin-right: 2.1rem;
}
.run-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 31%;
    zoom: 80%;
}
/* trainings section style starts here */
.trainings-container {
    width: 77%;
    height: 581px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0 auto;
    margin-top: 150px;
}
.trainings-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 0;
    margin-bottom: 5px;
}
.trainings-container p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 47px;
}
.row-1 {
    width: 100%;
    height: 35%;
    display: flex;
}
.exercise-1 {
    position: relative;
    width: 22%;
    background-color: rgba(6, 255, 210, 0.5);
    background-image: url('../images/exercise1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise-1 p {
    top: 70%;
    left: 08%;
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}
.exercise-2 {
    position: relative;
    width: 53%;
    background-color: rgba(255, 0, 0, 0.3);
    background-image: url('../images/exercise2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise-2 p {
    top: 8%;
    left: 08%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}
.exercise-3 {
    position: relative;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/exercise3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise-3 p{
    top: 70%;
    left: 08%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}
.row-2 {
    width: 100%;
    height: 35%;
    display: flex;
}
.exercise-4 {
    position: relative;
    width: 41%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/exercise4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise-4 p {
    top: 8%;
    left: 55%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}
.exercise-5 {
    position: relative;
    width: 27%;
    background-color: rgba(66, 255, 0, 0.3);
    background-image: url('../images/exercise5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise-5 p {
    top: 70%;
    left: 08%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}
.exercise-6 {
    position: relative;
    width: 32%;
    background-color: rgba(0, 71, 255, 0.3);
    background-image: url('../images/exercise6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.exercise-6 p {
    top: 70%;
    left: 08%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}
/* fitness goals section style starts here */
.fitness-goals-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 100px;
}
.goals-first-column {
    width: 50%;
    margin-right: 2rem;
}
.goals-title {
    width: 30%;
    background: #222222;
    border-radius: 5px;
    padding: 0.50rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 30px 0 rgba(230, 83, 60, 0.6);
}
.goals-first-column h5 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    margin: 0 auto;
}
.goals-first-column h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.goals-card {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 15px 0px 0px 0px;
}
.goals-card:hover {
    background: #222222;
}
.goals-icon {
    width: 20%;
    height: 20%;
    margin: 0 auto;
    margin-right: 2rem;
}
.goals-icon img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: 5px;
}
.goals-card h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}
.goals-card p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 2rem;
}
.goals-first-column button {
    width: 200px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    background: none;
    border: 2px solid white;
}
.goals-first-column button:hover {
    color: black;
    background: rgb(230, 83, 60);
    border: none;
    cursor: pointer;
}
.goals-second-column {
    position: relative;
    width: 50%;
    height: 40rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.goals-second-column img {
    width: 80%;
    height: 100%;
    border-radius: 1.7rem;
    border: 5px solid #222222;
}
.goals-badge {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 92px;
    height: 12.5rem;
    width: 12.5rem;
    text-align: center;
    border-radius: 50%;
    background: #f41e1e;
    border: 2px solid white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.goals-badge:hover {
    height: 13.5rem;
    width: 13.5rem;
    border: none;
}
/* BMI Calculator section style starts here */
.bmi-container {
    width: 100%;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 100px;
}
.bmi-text-content {
    width: 45%;
    margin: 0 auto;
}
.bmi-text-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.bmi-text-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 25px;
}
.bmi-chart-calculator {
    width: 100%;
    height: 487px;
    background: rgb(34, 34, 34);
    display: flex;
}
.bmi-chart {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bmi-chart h3 {
    margin-top: 06%;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
table {
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    margin-top: 03%;
}
th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
}
th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi-calculator{
    width: 53%;
}
.bmi-calculator h3{
    margin-top: 05.5%;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0;
}
.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 27px;
}
.bmi-inputs-1 {
    display: flex;
    gap: 0.75rem;
    margin: 0 auto;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.75rem;
}
.bmi-inputs-1 input {
    width: 14.656rem;
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}
.bmi-inputs-2 {
    display: flex;
    gap: 0.75rem;
    margin: 0 auto;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.75rem;    
}
.bmi-inputs-2 input {
    width: 14.656rem;
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}
.bmi-inputs-2 select {
    width: 18.50rem;
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}
.bmi-inputs-3 select {
    width: 37.60rem;
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 28px;
}
.bmi-calculator button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}
/* meet team section style starts here */
.meet-team-container {
    width: 77%;
    height: 782px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 150px;
}
.meet-team-text {
    margin: 0 auto;
}
.meet-team-text h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.meet-team-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.trainers {
    position: relative;
    width: 96.3%;
    height: 570px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.item {
    width: 100%;
    height: 272px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.item img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
}
.trainer-name {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -5.5%;
    margin-left: 20px;
}
.designation{
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -3%;
    margin-left: 20px;
}
/* footer section style starts here */
.footer-container {
    width: 100%;
    height: 495px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-first-content {
    width: 75%;
    height: 249px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo-column {
    margin-top: 66px;
}
.logo-column h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    font-style: italic;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}
.logo-column p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 23px;
}
.second-column {
    margin-top: 66px;
    margin-left: 55px;
}
.second-column h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-bottom: 35px;
}
.second-column h4 {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0;
    margin-top: 17px;
    cursor: pointer;
}
.third-column {
    margin-top: 66px;
}
.third-column h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
    padding: 0;
    margin-bottom: 35px;
}
.third-column h4 {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0;
    margin-top: 17px;
    cursor: pointer;
}
hr {
    width: 75%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 110px;
}
.copyright-text{
    margin-bottom: 30px;
}
.copyright-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
/* Responsive design */
@media screen and (max-width: 576px) {
    
    /* navbar & banner section responsive starts here */
    body {
        max-width: 100%;
        margin: 0 auto;
        border: 2px solid red;
    }
    .ham-burger {
        display: block;
    }
    .nav-container {
        width: 80%;
        margin-left: 0px;
        padding: 0 23px;
    }
    .nav-options {
        display: none;
    }
    .header-section {
        width: 100%;
        height: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .banner-text-content {
        width: 100%;
        margin: 0 auto;
    }
    .banner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        position: relative;
        margin-left: 0px;
        margin-left: 0px;
    }
    .banner-container h1 {
        font-size: 36px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 23px;
    }
    .banner-container p {
        width: 360px;
        margin-left: 23px
    }
    .shape {
        font-weight: 400;
        font-size: 36px;
    }
    .banner-btn {
        width: 92%;
        display: flex;
        font-size: 10px;
        margin-right: 0px;
        margin-left: 23px
    }
    .banner-container button {
        max-width: 100%;
        min-width: none;
        font-size: 13px;
    }
    .banner-img {
        width: 353px;
        margin-left: 0 auto;
        margin-right: 0px;
    }
    .Workout-videos {
        width: 145.91px;
        height: 74.09px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 09.7px;
        backdrop-filter: blur(15.12px);
        left: 53%;
        top: 48%;
    }
    .Workout-videos h1 {
        font-size: 30.24px;
        margin-top: 08px;
        margin-left: 15px;
        letter-spacing: 0.76px;
    }
    .Workout-videos p {
        font-size: 9.83px;
        margin-top: 3px;
        margin-left: 15px;
        letter-spacing: 0.76px;
    }
    .video-tutorial {
        width: 160px;
        height: 72.58px;
        left: 32px;
        top: 800.38px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(15.12px);
        left: 21%;
        top: 69.7%;
    }
    .ball {
        margin-left: 10px;
    }
    .video-tutorial h1 {
        font-size: 18.14px;
        margin-left: 10px;
        letter-spacing: 0.23px;
        margin-bottom: 7px;
        margin-top: 6px;
    }
    .video-tutorial p {
        font-size: 12.1px;
        letter-spacing: 0.38px;
        margin-left: 10px;
        letter-spacing: 0.5px;
        margin-bottom: 8px;
    }
    /* navbar & banner section responsive ends here */
}